:root {
    --black: #1c232b;
    --grey: #6c7289;
    --cream: #f2eae2;
    --white: #ffffff;
    --green-500: #3d8168;
    --green-700: #1a4032;
}

.strikethrough {
  text-decoration: line-through;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/*
    picture .perfume {
        height: 100%;
        width: clamp(300px, 50vw, 450px);
        object-fit: contain;
    }
*/

.perfume {
    /*border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
    z-index: -5;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.fraunces-400 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*font-variation-settings:
    "SOFT" 0,
    "WONK" 0;*/
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-preset-4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 5px;
}

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 32px;
  font-weight: 700;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0%;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
}

.text-preset-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0;
}

.category {
    text-transform: uppercase;
    color: var(--grey);
}

.desc {
    color: var(--grey);
}

.discount-price {
    color: var(--green-500);
}

.price {
    color: var(--grey);
}

.price-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

@media(min-width: 412px) and (max-width: 600px) {
    .container {
        padding-top: 32px;
    }

    .perfume {
        border-radius: 8px;
    }

}

.container .product {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    max-width: 500px;
    box-sizing: border-box;
}

.product button {
    background-color: var(--green-500);
    border: none;
    height: 50px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media(min-width: 600px) {
    .container {
        display: flex;
        flex-direction: row;
        max-height: 700px;
        max-width: 800px;
    }

    picture .perfume {
        height: 100%;
        width: 100%;
        max-height: initial;
        min-width: 300px;
    }

    .container .product {
        max-width: initial;
        width: 100%;
    }
}