:root {
    --black: #1c232b;
    --grey: #6c7289;
    --cream: #f2eae2;
    --white: #ffffff;
    --green-500: #3d8168;
    --green-700: #1a4032;
}

.strikethrough {
  text-decoration: line-through;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.perfume {
    z-index: -5;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 50vh;
}

.fraunces-400 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*font-variation-settings:
    "SOFT" 0,
    "WONK" 0;*/
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-preset-4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 0.4167em;
}

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 2rem;
  font-weight: 700;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 110%;
  letter-spacing: 0%;
}

.text-preset-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.text-preset-5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 120%;
  letter-spacing: 0;
}

.category {
    text-transform: uppercase;
    color: var(--grey);
}

.desc {
    color: var(--grey);
}

.discount-price {
    color: var(--green-500);
}

.price {
    color: var(--grey);
}

.price-box {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

/*@media(min-width: 412px) and (max-width: 599px) {*/
@media (min-width: 25.75rem) and (max-width: 37.4375rem) {
    .container {
        padding-top: 2rem;
    }

    .perfume {
        border-radius: 8px;
    }

}

.desc-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container .product {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 31.25rem;
    box-sizing: border-box;
}

.product button {
    background-color: var(--green-500);
    border: none;
    height: 3.125rem;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: ease-out 300ms;
}

@media(prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}

.product button:hover {
    cursor: pointer;
    background-color: var(--green-700);
}

/*@media(min-width: 600px) {*/
@media(min-width: 37.5rem) {
    .container {
        display: flex;
        flex-direction: row;
        max-height: 43.75rem;
        max-width: 50rem;
        align-items: stretch;
    }

    picture .perfume {
        width: 100%;
        height: 100%;
        max-height: initial;
        min-width: 18.75rem;
    }

    .container .product {
        max-width: initial;
        width: 100%;
        gap: 2rem;
        justify-content: center;
    }
}